* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html {
  background-color: #222222;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  font-size: 3rem;
  color: #f6f6f6;
  text-align: center;
  margin: 3rem 0;
}

main {
  width: 80%;
  margin: auto;
}

/* Css för input-och-knappen sektionen */

.submit-todo-item-section {
  width: 100%;
  max-width: 600px;
  margin: auto;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.submit-todo-item-section input, button {
  text-align: center;
  height: 2.5rem;
  font-size: 0.8rem;

}

#text-input {
  width: 85%;
  margin: 2rem;
}

#submit-input {
  width: 30%
}


/* Css för listan */
#todo-list-section {

  background-color: #262626;
  padding: 2rem;
  border-radius: 1rem;
  width: 75%;
  margin: 2rem auto;
}

#todo-list-list li {
  color: #f6f6f6;
  margin-top: 1rem;
}

#todo-list-list li p {
  width: 75%;
  overflow: scroll;
}


#todo-list-list li div {
  display: flex;
  justify-content: space-between;
}

/* Media query så att "Lägg till"-knappen får plats på mindre skärmar utan att göra input pytteliten*/
@media (max-width: 500px) {
  .submit-todo-item-section {
    flex-direction: column;
  }
}

